@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #E8E8E8;
  font-family: 'Open Sans', sans-serif;
}

.contenedor {
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.App {
  text-align: center;
}
